<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    <div id="app">
        <p>请选择你喜欢的水果：</p>
        <input type="checkbox" v-model="fruits" v-bind:value="apple">苹果<br/>
        <input type="checkbox" v-model="fruits" value="pear">梨<br/>
        <input type="checkbox" v-model="fruits" value="grape">葡萄<br/>
        <input type="checkbox" v-model="fruits" value="peach">桃子<br/>
    </div>
    <script src="js/vue.js"></script>
    <script>
        let vm = new Vue({
        el:"#app",
        data:{
            apple:'苹果',
            fruits:[]
        }
    });
        </script>
</body>
</html>